body {
	margin: 0;
	min-width: 953;
}

@font-face {
	font-family: siteText;
	src: url('siteText.otf');
}

@font-face {
	font-family: siteTextI;
	src: url('siteTextI.otf');
}

p {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 18px;
}

#body {
	position: relative;
	top: 230;
	z-index: -1;
}

#logo {
	border-radius: 0 0 0 0;
	width: 156px;
	display: block;
	top: 70;
	margin-right: auto;
	margin-left: auto;
	position: relative;
}

#home {
	font-size: 44px;
}

.navBar {
	background-image: linear-gradient(rgba(254,243,27,1), rgba(254,243,27,0));
	/*background-color: #FEF31B;*/
	display: grid;
	text-align: center;
	align-items: end;
	grid-template-columns: 1fr 196px 1fr;
	border-radius: 0 0 0 12px;
	z-index: 1;
	/*HAVE THE BACKGROUND COLOR GO FROM THE YELLOW
	FADING TO WHITE FOR THE BAR*/
}

#topFader {
	position: fixed;
	top: 202;
	height: 15px;
	background-image: linear-gradient(rgba(255,255,255,1), rgba(255,255,255,0.9));
}

#midFader {
	position: fixed;
	top: 217;
	height: 20px;
	background-image: linear-gradient(rgba(255,255,255,0.9), rgba(255,255,255,0.7));

}

.fader {
	position: fixed;
	top: 262px;
	z-index: 1;
	height: 30px;
	width: 100%;
	background-image: linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0));
}

nav {
	width: 100%;
	font-family: siteText;
	font-size: 34px;
	position: fixed;
	background-color: #FFF;
	min-width: 949;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	justify-self: start;
}

.leftNav {
	justify-self: end;
}

nav li {
	display: inline;
}

.navBar a {
	color: black;
	display: inline-block;
	padding: 8px 16px;
	text-decoration: none;
	border-bottom: 2px solid #FFF;
}

.navBar a:hover {
	border-bottom: 2px solid black;
}