body {
	margin: 0;
	min-width: 953;
}

@font-face {
	font-family: siteText;
	src: url('siteText.otf');
}

@font-face {
	font-family: siteTextI;
	src: url('siteTextI.otf');
}

.slides {
	position: absolute;
	width: auto;
	height: 100%;
	opacity: 0;
	transition: opacity 1.5s;
}

p.testText {
	width: 50%;
	position: relative;
	top: 500;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 18px;
}

#body {
	width: 1000px;
	margin: auto;
	position: relative;
	top: 80;
	z-index: -1;
	min-width: 953;
}

#logo {
	width: 100x;
	height: 100px;
	height: 100px;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.slideShow {
	position: absolute;
	display: block;
	left: 350;
	top: 50;
	width: 500;
	height: 400;
	border-left: 1px solid black;
}

.logoContainer {
	background-image: url('logo3.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: left top;
	background-size: cover;
	position: relative;
	float: left;
	width: 150px;
	height: 150px;
	z-index: 5;
	display: inline;
	grid-row: 1 / 3;
}

#home {
	font-size: 44px;
	padding: 9.5px 16px;
}

.navBar {
	background-color: #FEF31B;
	display: inline;
	text-align: center;
	border-bottom: 2px solid black;
	height: 83px;
}

.topLogoConcealer {
	position: fixed;
	width: 150px;
	height: 83px;
	z-index: 4;
	background-color: #FEF31B;
	border-bottom: 2px solid black;
}

.bottomLogoConcealer {
	width: 150px;
	height: 700px;
	position: absolute;
	z-index: 3;
	top: 0;
	left: 0;
	background-color: #FFF;
}

nav {
	width: 100%;
	display: grid;
	grid-template: 1fr 1fr / 150px 1fr;
	font-family: siteText;
	font-size: 34px;
	position: fixed;
	min-width: 949;
	z-index: 1;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

nav li {
	display: inline;
}

.navBar a {
	color: black;
	display: inline-block;
	padding: 12.5px 16px;
	text-decoration: none;
	border-bottom: 4px solid #FEF31B;
}

.navBar a:hover {
	border-bottom: 4px solid #807a26;
}