body {
	margin: 0;
	min-width: 953;
}

@font-face {
	font-family: siteText;
	src: url('fonts/siteText.otf');
}

@font-face {
	font-family: siteTextI;
	src: url('fonts/siteTextI.otf');
}

.slides {
	position: absolute;
	width: auto;
	height: 100%;
	opacity: 0;
}

p.testText {
	width: 50%;
	position: relative;
	top: 500;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 18px;
}

#body {
	width: 1000px;
	margin: auto;
	position: relative;
	top: 120;
	z-index: -1;
	min-width: 953;
	text-align: center;
}

#logo {
	position: relative;
	float: left;
	z-index: 2;
	display: inline;
	grid-row: 1 / 3;
}

.slideShow {
	position: absolute;
	display: block;
	left: 350;
	top: 50;
	width: 500;
	height: 400;
	border-left: 1px solid black;
}

h1 {
	font-family: siteTextI;
}

/*
.logoBig {
	position: relative;
	top: 50;
	width: 350;
	margin: 0 auto;
	display: block;
}*/

#home {
	font-size: 44px;
	padding: 9.5px 16px;
}

.navBar {
	background-color: #FEF31B;
	display: inline;
	text-align: center;
	border-bottom: 2.5px solid black;
	height: 83px;
}

.logoConcealer {
	background-image: url("photos/concealerBG.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: left top;
	width: 100%;
	height: 800px;
	position: absolute;
	z-index: 3;
	border-bottom: 2.5px solid black;
}

nav {
	width: 100%;
	display: grid;
	grid-template: 1fr 1fr / 150px 1fr;
	font-family: siteText;
	font-size: 34px;
	position: fixed;
	min-width: 949;
	z-index: 1;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

nav li {
	display: inline;
}

.navBar a {
	color: black;
	display: inline-block;
	padding: 12.5px 16px;
	text-decoration: none;
	border-bottom: 4px solid #FEF31B;
}

.navBar a:hover {
	border-bottom: 4px solid #807a26;
}