html, body {
	height: 100%;
}

body {
	margin: 0px;
	min-width: 1000px;
	text-align: center;
	font-family: arial;
	border-right: 2px solid black;
	line-height: 1.6;
}

a {
	text-decoration: none;
	color: #1b48fe;
	cursor: pointer;
}

@font-face {
	font-family: siteText;
	src: url('fonts/siteText.otf');
}

@font-face {
	font-family: siteTextI;
	src: url('fonts/siteTextI.otf');
}

h1, h2 {
	font-family: siteTextI;
}

/*
.logoBig {
	position: relative;
	top: 50;
	width: 350;
	margin: 0 auto;
	display: block;
}*/

#home {
	font-size: 44px;
	padding: 0px 16px;
}

.logoConcealer {
	background-image: url("photos/concealerBG.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: left top;
	width: 150px;
	height: 550px;
	position: absolute;
	z-index: 6;
}

nav {
	width: 100%;
	display: grid;
	grid-template: 1fr 1fr / 150px 1fr;
	font-family: siteText;
	font-size: 34px;
	position: fixed;
	min-width: 949px;
	z-index: 5;
}

.navBar {
	background-color: #FEF31B;
	display: inline;
	border-bottom: 2.5px solid black;
	height: 75.75px;
}

ul {
	margin: 0px 0px 0px 50px;
	padding: 0;
	list-style-type: none;
	text-align: left;
	position: relative;
	top: 0;
}

nav li {
	display: inline;
	padding: 0px 16px;
}

.navBar a {
	color: black;
	display: inline-block;
	text-decoration: none;
	border-bottom: 4px solid #FEF31B;
}

.navBar a:hover {
	border-bottom: 4px solid #807a26;
	padding-bottom: 5px;
}

#topLeftLogo {
	position: relative;
	float: left;
	z-index: 3;
	display: inline;
	grid-row: 1 / 3;
}

#bigLogoBox {
	width: 1000px;
	margin: auto;
	position: relative;
	top: 120px;
	z-index: 2;
	min-width: 953px;
	text-align: center;
}

#kingston {
	background-image: url("photos/kingston.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	width: 100%;
	min-width: 600px;
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 550px;
	z-index: -2;
}

#examples {
	background-color: white;
	width: 100%;
	height: 400px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	position: absolute;
	top: 855px;
	z-index: -1;
}

.slideShow {
	justify-self: start;
	align-self: center;
	height: 325px;
	width: 325px;
	display: inline;
}

.slides {
	height: 300px;
	width: 300px;
	display: inline;
	text-align: center;
	padding: 12.5px;
}

#examples > p {
	justify-self: end;
	align-self: center;
	text-align: left;
	width: 300px;
	margin-right: 50px;
}

#flea1 {
	background-image: url("photos/flea2.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	width: 100%;
	height: 300px;
	display: flex;
	justify-content: center;
	align-content: center;
	position: absolute;
	top: 1258px;
	z-index: -1;
}

#flea1 >  div {
	margin: 50px;
	display: block;
	min-width: 400px;
	padding: 10px;
}

.flea1inner {
	background-color: white;
}

.inset {
	border-left: 1px solid black;
	width: 300;
	margin: 0px auto;
	text-align: left;
	padding-left: 10px;
}

#aboutTheChef {
	background-color: white;
	width: 100%;
	height: 400px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	position: absolute;
	top: 1558px;
	z-index: -1;
}

.chefPhoto {
	height: 480px;
	width: 358px;
	display: inline;
	text-align: center;
	padding: 12.5px;
}

#aboutChefText {
	justify-self: end;
	align-self: center;
	text-align: left;
	width: 300px;
	margin-right: 50px;
}

#aboutTheChef > div > p {
	width: 300px;
}

p {
	width: 600px;
	padding: 15px;
	background-color: #FFF;
}